body {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/198/373/240/music-gibson-les-paul-electric-guitars-electric-guitars-2560x1600-entertainment-music-hd-art-wallpaper-preview.jpg");
    background-size: cover;
  }
  .title {
    color: white;
    text-align: center;
  }
  .sub-title {
    color: white;
  }